#play-game-button > .menu-button {
    font-size: 50px;
    background-image: url("project://database/Assets/Kenney/kenney_ui-pack-space-expansion/PNG/Blue/Double/bar_square_gloss_large_square.png?fileID=21300000&guid=1c2dabbc8ccd61f42904f63f2469cc4b&type=3#bar_square_gloss_large_square");
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px 5px rgb(0, 0, 0);
}

#play-game-button > .menu-button:hover {
    background-image: url("project://database/Assets/Kenney/kenney_ui-pack-space-expansion/PNG/Blue/Double/bar_square_large_square.png?fileID=21300000&guid=292f7edd9e4b0b946b78edd94c07c969&type=3#bar_square_large_square");
}
